@import "lightbox";
@import "recipes";
@import "comments";
@import "welcome";
@import "users";
@import "groceries";


body {
  margin: 0em;
  padding-top: 5px;
}

.banner-logo {
  font-family: 'ff-basic-gothic-sc-web-pro';
  font-weight: 400;
  font-size: 450%;
  margin: 0em;
}

.white-field {
  background-color: white;
  width: 100%;
  padding: 25px;
  opacity: 20;
}

nav {
  font-family: "Courier";
  background-color: white;
  width: 580px;
  padding: 1px;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 20px;
  opacity: 0.7;
  font-size: small;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.top-banner {
  padding: 10px;
  background-image: image-url("woodblocktopbanner2.jpg");
}

.bottom-banner {
  background-image: image-url("woodblockbottombanner.jpg");
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100%;
}
