// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentbody {
  margin-left: 0px;
  padding-left: 14px;
  font-family: "Courier";
  font-size: 85%;
  margin-bottom: 10px;
}

.commentago {
  padding-left: 14px;
  font-family: arial;
  font-size: 80%;
}

.createcomment {
  padding-left: 14px;
  font-family: arial;
  font-size: 75%;
}

.commenttitle {
  padding: 10px;
  font-family: "Mate SC";
  margin: 0px;
}
