// Place all the styles related to the groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-1 input:checked + span {text-decoration: line-through}

.grocery_list_title {
  font-family: "Handlee";
  font-weight: 400;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.row-1 {
  font-family: "Handlee";
  font-weight: 400;
  font-size: 120%;
}
