// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
}

h4 {
  margin: 0em;
}

.clearfix {
  clear: both;
}

.primary-body {
  // -webkit-column-count: 2; /* Chrome, Safari, Opera */
  // -moz-column-count: 2; /* Firefox */
  // column-count: 2;
  // -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
  // -moz-column-rule-style: solid; /* Firefox */
  // column-rule-style: solid;
  // -webkit-column-width: 50%; /* Chrome, Safari, Opera */
  // column-width: 50%;
  // -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
  // -moz-column-rule-width: 1px; /* Firefox */
  // column-rule-width: 1px;
  // -webkit-column-rule-color: gray; /* Chrome, Safari, Opera */
  // -moz-column-rule-color: gray; /* Firefox */
  // column-rule-color: gray;
}

.primary, .secondary, .col-1, .col-2 {
  width: 50%;
  float: left;
  clear: left;
}

.recipetitle {
  margin: 0px;
  font-family: "Mate SC";
  font-size: 300%;
}

.ingredtitle {
  margin: 0px;
  font-family: "LinotypeZapfino One";
  font-size: 280%;
  color: #996633;
}

.directitle {
  font-family: "LinotypeZapfino One";
  font-size: 280%;
  color: #996633;

}

.ingredlist {
  font-family: arial;
  font-size: 14px;
  font-weight: 100;
}

.direclist {
  font-family: arial;
  font-size: 14px;
}

.commenttitle {
  padding: 10px;
  font-family: "Mate SC";
}

.editlink {
  padding-left: 14px;
  font-family: arial;
  font-size: 80%;
}

.favorite-link {
  font-family: "Courier";
  font-size: 80%;
}

.function-links {
  font-family: "Courier";
  font-size: 80%;
}

section {
  display: inline-block;
  width: 30%;
}
