// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

code {
  display: block;
  padding: 5px 15px;
}

.grid {
  margin: 0 auto;
  width: 960px;
}

.grid,
.col-1-2 {
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2 {
  display: inline-block;
  vertical-align: top;
}

.col-1-2 {
  width: 33.33%;
}

.grid,
.col-1-2
section {
  margin: 20 50% 24px 1.5%;
}

header {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.recipetitle {
  font-family: "Mate SC";
  font-size: 300%;
}

.ingredtitle {
  font-family: "LinotypeZapfino One";
  font-size: 280%;
  color: #996633;
}

.directitle {
  font-family: "LinotypeZapfino One";
  font-size: 280%;
  color: #996633;

}

.ingredlist {
  font-family: arial;
  font-size: 14px;
  font-weight: 100;
}

.direclist {
  font-family: arial;
  font-size: 14px;
}

.commenttitle {
  padding: 10px;
  font-family: "Mate SC";
}

.editfavorites {
  padding-left: 14px;
  font-family: arial;
  font-size: 80%;
}

section {
  display: inline-block;
  width: 30%;
}
