// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
	background: white;
	padding: 2.5% 1em;
	width: 100%;
}

#flex-recipe {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

	.recipe {
		flex-basis: 25%;
		margin-bottom: 1em;
		font-size: 1.5em;
	}
		.recipe h1 {
			font-size: 1em;
			margin-bottom: .25em;
		}
		.recipe p {
			text-transform: capitalize;
			margin: 0;
		}
h4 {
  margin: 0em;
}

.clearfix {
  clear: both;
}

h1 {
	margin: 0 0 1em 0;
	padding: 0;
}

.primary, .secondary, .col-1, .col-2 {
  width: 50%;
  float: left;
}

.secondary img {
	width: 100%;
	margin: 0;
}

.recipetitle {
  margin: 0px;
  font-family: "ff-basic-gothic-sc-web-pro";
  font-weight: 400;
  font-size: 350%;
}

.ingredtitle {
  margin: 0px;
  font-family: "Italianno";
  font-size: 320%;
  font-weight: 400;
  color: #996633;
}

.directitle {
  font-family: "Italianno";
  font-size: 320%;
  font-weight: 400;
  color: #996633;

}

.ingredlist {
  font-family: arial;
  font-size: 14px;
  font-weight: 100;
}

.direclist {
  font-family: arial;
  font-size: 14px;
}

.view-recipe-card {
  font-family: "Courier";
  font-size: 80%;
}

.editlink {
  padding-left: 14px;
  font-family: arial;
  font-size: 80%;
}

.favorite-comment-link {
  font-family: "Courier";
  font-size: 80%;
	display: flex;
	justify-content: space-between;
	margin-top: .5em;
}

.function-links {
  font-family: "Courier";
  font-size: 80%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

section {
  display: inline-block;
  width: 30%;
}
