// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fav-title {
  font-family: "ff-basic-gothic-sc-web-pro";
  font-weight: 400;
  font-size: 200%;
}

.rec-title {
  font-family: "ff-basic-gothic-sc-web-pro";
  font-weight: 400;
  font-size: 95%;
}
